@import url('https://fonts.googleapis.com/css2?family=Montserrat;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');


.BuildControls {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    padding: 10px 0;
    font-family: 'Nunito';
}

.OrderButton {
    background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
    outline: none;
    cursor: pointer;
    border: 1px solid #ffffff;
    color: White;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 10px;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909;
}

.OrderButton:disabled {
    background-image: linear-gradient(to right bottom, #f8eac5, #f8c4c0);;
    cursor: not-allowed;
    border: 1px solid #fff;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

/* SECONDARY PRICE BOX */

 .tinyBox {
     background-color: #fff3d4;
     margin: auto;
     margin-bottom: 10px;
     text-align: center;
     border-radius: 20px;
     color: #F59A83;
     font-family: 'Nunito';
     padding: 1px;
 }

 .currentPriceBox {
    padding: 18px;
    border-right: 1px solid;
    text-transform: uppercase;
    font-size: 14px;
    background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
    color: #ffffff;
    border-radius: 20px;
    
 }

 .moneyBox {
    font-family: inherit;
     padding: 14px;
 }


@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}