.BuildControl {
    align-items: center;
    margin: 5px 0;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffd3b7;
    padding: 5px;
    width: 300px;
}

.all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    flex-direction: row;
    margin: auto;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 60px;
    border: 1px solid #ffffff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.BuildControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #ffffff;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    width: 80px;
    color: #F59A83;
}

.BuildControl .Less {  
    background-color: #F48982;
    color: white;
}

.BuildControl .More {
    background-color: #FBDB89;
    font-size: 16px;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #DAA972;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #99703F;
    color: white;
}

.numberBox {
    background-color: white;
    width: 15px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}